<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Compuse</title>
    <link rel="stylesheet" href="static/css/all_styles.css">
</head>
<body>
    <header>
        <div class="logo">Campus Compuse</div>
        <a href="/collegeimage" class="advanced-button">Campus Image</a>
    </header>

    <main>
        <div class="greeting" id="greeting">Hi, Soldiers!</div>

        <div class="chat-box" id="chat-box">
        </div>

        <div class="input-container">
            <input type="text" id="user-message" placeholder="Ask Gemma" autocomplete="off">
            <button id="send-button">Send</button>
        </div>
    </main>

    <script src="static/js/home_js.js"></script>
</body>
</html>
